$header-bg: #002333;
$header-height: 65px;
$header-shrink-height: 50px;
$body-bg: #fafafa;
$txt-color: #fff;
$main-color: #f02d00;
$secondary-color: #eeff41;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius: 10px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Roboto", sans-serif;
